@font-face{
	font-family: 'KrinkesRegular';
	src: url('../fonts/KrinkesRegularPERSONAL.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

html{
	scroll-behavior: smooth;
}

html, body{
	height: 100%;
	width: 100%;
	color: white;
	overflow: visible;
}

.btn, .btn:hover{
	background-color: transparent;
	border-color: white;
}

nav{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 75px;
	/*background: #3f3f3f;*/
	opacity: 0.8;
	z-index: 1;
	text-align: center;
	font-family: KrinkesRegular;
	font-size: 1.5em;
	color: white;
}

nav .navbar {
    display: block;
    float: left;
}

nav #navbar{
	/*height: 100%;*/
}

i {
	width: 50px;
	height: 50px;
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	margin-top: 20%;
	animation: arrowAnimation 5s linear infinite;
}

.down{
	transform: rotate(45deg);
}

.body-content{
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	scroll-snap-points-y: repeat(100%);
	scroll-snap-type: mandatory;
	scroll-snap-destination: 100% 0%;
	z-index: 10000;
}

div h3{
	position: relative;
	top: 10%;
}

.section{
	text-align: center;
}

#name, #about, #education, #portfolio, #contact{
	height: 100%;
	/*background: url("image/back.png") repeat;*/
	overflow: hidden;
}

#name-text{
	position: relative;
	top: 20%;
	font-size: 2.5em;
}

#name-text h1{
	font-family: KrinkesRegular;
	margin-bottom: -0.5em;
	font-size: 3em;	
}
#name-text h4{
	margin-bottom: 2.5em;
}

#about-text, #education-text, #portfolio-text, #contact-text{
	position: relative;
	top: 10%;
	font-size: 1.5em;
	max-height: 25%;
	max-width: 75%;
}

/*div img{
	width: 100%;
	max-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1
}*/

img{
	width: 50%;
	height: 50%;
}

#education{
	text-align: center;
}

div .edu_item{
	display: block;
	float: left;
	border: 1px solid black;
	width: 27.5%;
	margin-left: 2.90%;
	margin-right: 2.90%;
	padding: 5px;
}

@keyframes arrowAnimation{
	0% { margin-top: 20%;
		animation-timing-function: ease-in-out; }
	50%{margin-top: 18%;
		animation-timing-function: ease-in-out;}
	100%{margin-top: 20%}
}
